/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .influencer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .i-content{
        margin-top: 20px;
        padding-left: 15px;
    }
    .i-content h2{
        font-size: 20px;
        margin: 0;
    }
    .i-content p{
        margin-top: 4px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .Preebook{
        padding: 3px 15px !important;
    }
    .i-img{
        width: 90%;
    }
    .i-img img{
        width: 100%;
    }
    
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .influencer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .i-content{
        margin-top: 30px;
    }
    .i-content h2{
        font-size: 20px;
        margin: 0;
    }
    .i-content p{
        margin-top: 5px;
        font-size: 15px;
    }
    .Preebook{
        padding: 5px 20px !important;
    }

  }
   
     
   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .influencer{
     
    }
    .i-content{
     width: 40%;
    }
    .i-content h2{
        font-size: 25px;
        margin-top: 16px;
    }
    .i-content p{
        font-size: 15px;
    }
    .i-img{
    width: 40%;
    }
    .i-img img{
        width: 100%;
    }
    .Preebook{
        padding: 7px 30px !important;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
  
   /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width:1399.98px){
    
  }
   /* Extra Extra large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
      
  }
  